# Iowa Liquor Sales Predictive Analysis

- The state of **Iowa** publishes its class **E** license liquor sales data monthly at https://data.iowa.gov/Sales-Distribution/Iowa-Liquor-Sales/m3tr-qhgy
- It contains more than $19M$ samples of the detailed transaction records from the liquor vendors to
the various retail stores within the state, since $2012$.
- The dataset records the rich interaction between the $\sim 300$ liquor vendors, 
$\sim 2400$ liquor stores 
(with their lat-long coordinates), selling $\sim 9.4K$ liquor products.

<img src="img/iowa_flag.jpg" height=400 width=400 align=left>

### Scope of this Project

- Analyze the store and product data for retailer Hy-Vee 
- Store segmentation to find valuable store insights
- Market basket analysis
- Sales forecasting to predict future sales

### Housekeeping

In [1]:
import missingno as msno
import numpy as np
import pandas as pd
import re
import sqlite3
import pandas as pd
import gc
from nltk import word_tokenize 
import warnings

# Suppress warnings
warnings.filterwarnings('ignore')

In [2]:
# Show all the columns in data frame
pd.set_option("display.max_columns", 120, 'display.max_rows', 500)

### Load the data to a pandas data frame

In [3]:
# Import liquor sales data
df = pd.read_csv('data/Iowa_Liquor_Sales.csv')

In [4]:
# Import product details data
lqdetails = pd.read_csv('data/Iowa_Liquor_Products.csv')

In [5]:
# Removing white spaces from columns
df.columns = df.columns.str.replace(' ','')
lqdetails.columns = lqdetails.columns.str.replace(' ','')

In [6]:
# Filter sales data to Hy-Vee subset
lqsales = df[df['StoreName'].str.contains('Hy-Vee')]

In [7]:
lqsales.head(1)

,Invoice/ItemNumber,Date,StoreNumber,StoreName,Address,City,ZipCode,StoreLocation,CountyNumber,County,Category,CategoryName,VendorNumber,VendorName,ItemNumber,ItemDescription,Pack,BottleVolume(ml),StateBottleCost,StateBottleRetail,BottlesSold,Sale(Dollars),VolumeSold(Liters),VolumeSold(Gallons)
2,INV-28403900139,07/01/2020,2643,Hy-Vee Wine and Spirits / Waterloo,2126 Kimball Ave,Waterloo,50701,NaN,7.0,BLACK HAWK,1012400.0,Irish Whiskies,370.0,PERNOD RICARD USA,15628,Jameson,6,1750,32.48,48.72,2,97.44,3.5,0.92

In [8]:
lqdetails.head(1)

,ItemNumber,CategoryName,ItemDescription,Vendor,VendorName,BottleVolume(ml),Pack,InnerPack,Age,Proof,ListDate,UPC,SCC,StateBottleCost,StateCaseCost,StateBottleRetail,ReportDate
0,901141,Special Order Items,Libertine Absinthe(French Absinthe) Mini,885.0,YAHARA BAY DISTILLERS INC,50,6,1,0,114,04/20/2012,NaN,10892060104050,4.82,28.9,7.23,09/01/2021

In [9]:
# Drop the df dataframe and garbage collect
del [[df]]
gc.collect()

33

### Building the Liquor Sales Database

We will decompose the original dataframe into multiple SQlite tables in order to solve the data inconsistencies
- Products
- Product_Prices, recording the historical bottle price changes of the products
- Vendors
- Stores
- Transactions(master table), which records the vendor number, store number, product (item number), transaction date, bottles sold, volume (either in gallons or in liters), sales amount.

### Products

In [10]:
# Columns to be included in products table
cols = ['Date',
       'Category',
       'CategoryName',
       'ItemNumber',
       'ItemDescription',
       'Pack',
       'BottleVolume(ml)']

product = lqsales[cols].copy()
product['CategoryName'] = product['CategoryName'].str.lower()
product['ItemDescription'] = product['ItemDescription'].str.lower()
product['ItemNumber'] = product['ItemNumber'].apply(str)

In [11]:
# Check for CategoryName and Category association inconsistency
product.groupby(['Category', 'CategoryName']).agg({'Date':'count'}).sort_values(by=['CategoryName'])

                                                  Date
Category  CategoryName
1031100.0 100 proof vodka                        30284
1022200.0 100% agave tequila                    135059
1062300.0 aged dark rum                          18891
1082010.0 amaretto - imported                       38
1101100.0 american alcohol                        7791
1081010.0 american amaretto                      19593
1051100.0 american brandies                     114739
1071100.0 american cocktails                    123759
1081300.0 american cordials & liqueur           111476
1081000.0 american cordials & liqueurs             917
1091100.0 american distilled spirit specialty     9626
1091000.0 american distilled spirits specialty     110
1041100.0 american dry gins                     175688
1031200.0 american flavored vodka               219864
1051010.0 american grape brandies                68358
1081400.0 american schnapps                     145810
1041300.0 american sloe gins                      1453
1041200.0 american sloe gins                      2667
1031000.0 american vodka                          1720
1031100.0 american vodkas                       462315
1081020.0 anisette                                 861
1081305.0 apple schnapps                         11393
1051100.0 apricot brandies                       12641
1062050.0 barbados rum                            5886
1051110.0 blackberry brandies                    18951
1011100.0 blended whiskies                      300157
1011400.0 bottled in bond bourbon                 3188
1011500.0 bottled in bond bourbon                 5079
1081312.0 butterscotch schnapps                  13547
1012100.0 canadian whiskies                     531304
1051120.0 cherry brandies                         4398
1081315.0 cinnamon schnapps                      12902
1070000.0 cocktails / rtd                          466
1071100.0 cocktails /rtd                        147435
1081030.0 coffee liqueurs                        29693
1081100.0 coffee liqueurs                        29181
1011600.0 corn whiskies                            260
1011700.0 corn whiskies                           4300
1081200.0 cream liqueurs                        182313
1081210.0 creme de almond                          752
1081220.0 dark creme de cacao                     3144
1701100.0 decanters & specialty packages         13355
1901100.0 delisted items                            29
1090000.0 distilled spirits specialty               80
1081700.0 distilled spirits specialty            24230
1041200.0 flavored gin                            4712
1041150.0 flavored gins                           5694
1062300.0 flavored rum                          106864
1062500.0 flavored rum                          112600
1062100.0 gold rum                               31601
1081317.0 grape schnapps                          4847
1081240.0 green creme de menthe                   3990
1501100.0 high proof beer - american                16
1701200.0 holiday vap                               12
1081015.0 imported amaretto                       4623
1082015.0 imported amaretto                         20
1052100.0 imported brandies                      49040
1082100.0 imported cordials & liqueur             1795
1082000.0 imported cordials & liqueurs          108427
1092100.0 imported distilled spirit specialty     5796
1092000.0 imported distilled spirits specialty      30
1042100.0 imported dry gins                     106647
1032200.0 imported flavored vodka                98540
1052010.0 imported grape brandies                39394
1081390.0 imported schnapps                      55790
1082200.0 imported schnapps                      62834
1032000.0 imported vodka                           489
1032080.0 imported vodka                        128929
1032230.0 imported vodka - cherry                    9
1032200.0 imported vodka - misc                 112829
1032100.0 imported vodkas                       128406
1091400.0 iowa distilleries                       1413
1011800.0 iowa distillery whiskies                  23
1012400.0 irish whiskies                         61292
1012300.0 irish whiskies                         37257
1062100.0 jamaica rum                             7817
1012400.0 japanese whisky                          169
1031110.0 low proof vodka                          938
1022300.0 mezcal                                  3085
1081900.0 misc. american cordials & liqueurs     48137
1082900.0 misc. imported cordials & liqueurs     97984
1051150.0 miscellaneous  brandies                 1891
1081380.0 miscellaneous schnapps                 14932
1022100.0 mixto tequila                          72910
1091200.0 neutral grain spirits                  10069
1091300.0 neutral grain spirits flavored         14087
1031090.0 other proof vodka                       1967
1051140.0 peach brandies                          5019
1081330.0 peach schnapps                         23527
1081300.0 peppermint schnapps                    42687
1062200.0 puerto rico & virgin islands rum      131449
1081335.0 raspberry schnapps                      5263
1081500.0 rock & rye                              1366
1081340.0 root beer schnapps                      4340
1082390.0 schnapps - imported                        2
1082300.0 schnapps - imported                        1
1012200.0 scotch whiskies                       162846
1011250.0 single barrel bourbon whiskies          5576
1011300.0 single barrel bourbon whiskies          8466
1012300.0 single malt scotch                     59368
1012210.0 single malt scotch                     46981
1081350.0 spearmint schnapps                      1012
1901200.0 special order items                     8877
1062310.0 spiced rum                            148551
1062400.0 spiced rum                            148543
1011200.0 straight bourbon whiskies             491258
1011600.0 straight rye whiskies                  35899
1011500.0 straight rye whiskies                  20394
1081355.0 strawberry schnapps                     5018
1070100.0 temporary  & specialty packages           14
1700000.0 temporary &  specialty packages         3644
1701100.0 temporary & specialty packages         38928
1011400.0 tennessee whiskies                     83079
1011300.0 tennessee whiskies                     66508
1022100.0 tequila                               161221
1081500.0 triple sec                             20225
1081400.0 triple sec                             20174
1081365.0 tropical fruit schnapps                 3861
1031080.0 vodka 80 proof                        371583
1031200.0 vodka flavored                        194852
1081370.0 watermelon schnapps                     6729
1081600.0 whiskey liqueur                       250578
1081230.0 white creme de cacao                    3449
1081250.0 white creme de menthe                   1280
1062200.0 white rum                              90520

In [12]:
# Check for ItemDescription and ItemNumber association inconsistency
product.groupby(['ItemNumber', 'ItemDescription']).agg({'Date':'count'}).sort_values(by=['ItemDescription'])

                                                    Date
ItemNumber ItemDescription
928096     "beefeater ""24"""                          1
87413      "jose cuervo silver ""rolling stones"""    93
258        "rumchata ""gochatas"""                     1
73058      "rumchata ""minichatas"" creamer cups"    590
27081      (ri)1 rye                                 103
...                                                  ...
902803     zwack                                       2
67322      zwack                                       2
36296      zyr vodka                                  43
36297      zyr vodka                                   6
903502     zyr vodka                                   4

[9595 rows x 1 columns]

In [13]:
# We will use the most recent CategoryName and ID association to solve the inconsistency
product['Date'] = pd.to_datetime(product['Date'], format='%m/%d/%Y')
product['Year'] = pd.DatetimeIndex(product['Date']).year
category = product.sort_values(['Year']).drop_duplicates(subset = ['Category'], keep = 'last')
temp = product.merge(category[['Category', 'CategoryName']], on = 'Category', how = 'left')
temp.drop(columns = 'CategoryName_x', inplace = True)
temp.rename(columns = {'CategoryName_y': 'CategoryName'}, inplace = True)
product = temp.copy()
product.head(1)

,Date,Category,ItemNumber,ItemDescription,Pack,BottleVolume(ml),Year,CategoryName
0,2020-07-01,1012400.0,15628,jameson,6,1750,2020,irish whiskies

In [14]:
# We will use the most recent ItemDescription and ItemNumber association to solve the inconsistency
item = product.sort_values(['Year']).drop_duplicates(subset = ['ItemNumber'], keep = 'last')
temp = product.merge(item[['ItemNumber', 'ItemDescription']], on = 'ItemNumber', how = 'left')
temp.drop(columns = 'ItemDescription_x', inplace = True)
temp.rename(columns = {'ItemDescription_y': 'ItemDescription'}, inplace = True)
product = temp.copy()
product.head(1)

,Date,Category,ItemNumber,Pack,BottleVolume(ml),Year,CategoryName,ItemDescription
0,2020-07-01,1012400.0,15628,6,1750,2020,irish whiskies,jameson

In [15]:
# We will also use the most commonly recorded bottle volume associated with an item
volume = product.groupby(['ItemNumber']).agg({'BottleVolume(ml)':'value_counts'}).rename(columns = {'BottleVolume(ml)':'count'}).reset_index()
volume['rank'] = volume.groupby(['ItemNumber'])['count'].rank(ascending = False)
volume = volume[volume['rank'] == 1]

In [16]:
volume = product.merge(volume[['ItemNumber', 'BottleVolume(ml)']], on = 'ItemNumber', how = 'left')
volume.drop(columns = 'BottleVolume(ml)_x', inplace = True)
volume.rename(columns = {'BottleVolume(ml)_y': 'BottleVolume'}, inplace = True)
product = volume.copy()
product.head(1)

,Date,Category,ItemNumber,Pack,Year,CategoryName,ItemDescription,BottleVolume
0,2020-07-01,1012400.0,15628,6,2020,irish whiskies,jameson,1750.0

In [17]:
# Cleaned product dataframe
product = product[['ItemNumber', 'ItemDescription', 'Category', 'CategoryName', 'BottleVolume', 'Pack']]
product.drop_duplicates(keep = 'first', inplace = True)
product.shape

(10303, 6)

In [18]:
# Adding proof to the products table
product = product.merge(lqdetails[['ItemNumber', 'Proof']], on = 'ItemNumber', how = 'left')

In [19]:
product.head(1)

,ItemNumber,ItemDescription,Category,CategoryName,BottleVolume,Pack,Proof
0,15628,jameson,1012400.0,irish whiskies,1750.0,6,80.0

In [20]:
# Create new feature "Segment" to broadly categorize the items
product['CategoryName'] = product['CategoryName'].apply(str)
product['Segment'] = np.where(product['CategoryName'].str.contains('rum'),'rum',
                     np.where(product['CategoryName'].str.contains('gin'),'gin', 
                     np.where(product['CategoryName'].str.contains('cocktail'), 'cocktail',
                     np.where(product['CategoryName'].str.contains('brandy|brandies'), 'brandy',
                     np.where(product['CategoryName'].str.contains('whisk|bourbon|scotch'), 'whisky',
                     np.where(product['CategoryName'].str.contains('tequila|mezcal'), 'tequila',
                     np.where(product['CategoryName'].str.contains('schnapps'), 'schnapps',
                     np.where(product['CategoryName'].str.contains('vodka'), 'vodka',
                     np.where(product['CategoryName'].str.contains('spirit'), 'spirit',
                     np.where(product['CategoryName'].str.contains('liqueur'), 'liqueur',
                     np.where(product['CategoryName'].str.contains('brandies'), 'brandy', 'others')))))))))))
product['Segment'].value_counts()

whisky      2475
vodka       1961
others      1701
liqueur     1005
rum          799
tequila      651
brandy       404
cocktail     383
spirit       341
schnapps     316
gin          267
Name: Segment, dtype: int64

In [21]:
# Rename columns for consistency
product.rename(columns = {'ItemNumber':'ProductID', 'ItemDescription':'ProductName', 'Category':'CategoryID'}, inplace = True)
product = product[['ProductID', 'ProductName', 'CategoryID', 'CategoryName', 'Segment', 'BottleVolume', 'Pack', 'Proof']]

In [22]:
product.head(1)

,ProductID,ProductName,CategoryID,CategoryName,Segment,BottleVolume,Pack,Proof
0,15628,jameson,1012400.0,irish whiskies,whisky,1750.0,6,80.0

In [23]:
# CategoryName and Segment are predominantly the more important features and we will therefore leave the null values
product.isnull().sum(axis = 0)

ProductID         0
ProductName       0
CategoryID      223
CategoryName      0
Segment           0
BottleVolume      9
Pack              0
Proof           924
dtype: int64

In [24]:
product.shape

(10303, 8)

### Vendors

In [25]:
# Columns to be included in the vendors table
cols = ['Date',
        'VendorNumber',
        'VendorName']

vendor = lqsales[cols].copy()

In [26]:
vendor['Date'] = pd.to_datetime(vendor['Date'], format='%m/%d/%Y')
vendor['Year'] = pd.DatetimeIndex(vendor['Date']).year

In [27]:
# We will use the most recent VendorName
name = vendor.sort_values(['Year']).drop_duplicates(subset = ['VendorNumber'], keep = 'last')
temp = vendor.merge(name[['VendorNumber', 'VendorName']], on = 'VendorNumber', how = 'left')
temp.drop(columns = 'VendorName_x', inplace = True)
temp.rename(columns = {'VendorName_y': 'VendorName'}, inplace = True)
vendor = temp[['VendorNumber', 'VendorName']]
vendor.drop_duplicates(inplace = True)

In [28]:
# Rename columns to maintain consistency across tables
vendor.rename(columns = {'VendorNumber': 'VendorID'}, inplace = True)

In [29]:
# Check for null values
vendor.isnull().sum(axis = 0)

VendorID      1
VendorName    1
dtype: int64

In [30]:
# Removing nulls as both VendorID/Name is null for the row
vendor.dropna(inplace = True)

In [31]:
vendor.shape

(311, 2)

In [32]:
vendor.head(1)

   VendorID         VendorName
0     370.0  PERNOD RICARD USA

### Stores

In [33]:
# Columns to be included in Stores table
cols = ['StoreNumber',
        'StoreName',
        'City',
        'ZipCode',
        'StoreLocation',
        'CountyNumber',
        'County']

store = lqsales[cols].drop_duplicates(subset = ['StoreNumber'], keep = 'first').copy()
store.dropna(inplace = True)

In [34]:
# Check for null values
store.isnull().sum(axis = 0)

StoreNumber      0
StoreName        0
City             0
ZipCode          0
StoreLocation    0
CountyNumber     0
County           0
dtype: int64

In [35]:
# Standradize the store names
store['StoreName'] = store['StoreName'].apply(lambda x: x.split('/')[0].strip())

def standardize(token):
    token = str(token)
    token = token.replace("``",'')
    token = token.replace('"','')
    token = re.sub("[,`'#.]",'',token)
    token = str(token).lower().replace(' and ',' & ')
    words = word_tokenize(token)
    words = [str(i).capitalize().strip() for i in words]
    words = ' '.join(words)
    words = words.replace('  ',' ')
    return words

for column in ['StoreName', 'City', 'County']:
    store[column] = store[column].apply(standardize)

In [36]:
# Round off ZipCode value and convert to string
store.loc[store['ZipCode'] == '712-2','ZipCode'] = '51529'
store.loc[store['ZipCode'] == '51529']
store['ZipCode'] = store['ZipCode'].apply(int).round().apply(str)

In [37]:
# Format the longitude and lattitude for StoreLocation
def coordinates(loc):
    if str(loc) != 'nan':
        loc = str(loc)
        loc = re.findall(r'[-]\d.*\d', loc)[0]
        lon, lat = loc.split(' ')
        lon = round(float(lon), 2)
        lat = round(float(lat), 2)
        location = [lon, lat]
    else:
        location = np.nan
    return location

store['StoreLocation'] = store['StoreLocation'].apply(coordinates)

In [38]:
# Split the logitude and lattitude coordinates
long = []
lat = []
for i in store['StoreLocation']:
    x, y = str(i).split(', ')
    long.append(float(x.replace('[','')))
    lat.append(float(y.replace(']','')))
    
store['long'] = long
store['lat'] = lat

store.drop('StoreLocation', axis = 1, inplace = True)
store.drop_duplicates(subset = ['StoreNumber'], keep = 'first')

,StoreNumber,StoreName,City,ZipCode,CountyNumber,County,long,lat
9,2663,Hy-vee Food Store,Urbandale,50322,77.0,Polk,-93.74,41.63
18,2647,Hy-vee 7,Cedar Rapids,52411,57.0,Linn,-91.70,42.03
34,2565,Hy-vee Food Store 1636,Spencer,51301,21.0,Clay,-95.15,43.15
61,2662,Hy-vee Wine & Spirits,Muscatine,52761,70.0,Muscatine,-91.04,41.43
64,2555,Hy-vee Food Store,Keokuk,52632,56.0,Lee,-91.40,40.42
87,2571,Hy-vee Food Store 2,Waterloo,50703,7.0,Black Hawk,-92.34,42.53
93,2578,Hy-vee,Charles City,50616,34.0,Floyd,-92.68,43.07
123,2675,Hy-vee 2,Coralville,52241,52.0,Johnson,-91.61,41.72
154,2635,Hy-vee 4,Davenport,52807,82.0,Scott,-90.51,41.57
203,2718,Hy-vee Waukon Dollar Fresh,Waukon,52172,3.0,Allamakee,-91.49,43.26
205,2653,Hy-vee Wine & Spirits,Washington,52353,92.0,Washington,-91.70,41.30
214,2613,Hy-vee Food Store 1,Council Bluffs,51501,78.0,Pottawatta,-95.88,41.26
257,2619,Hy-vee Wine & Spirits,West Des Moines,50266,77.0,Polk,-93.81,41.60
265,2567,Hy-vee Drugstore,Davenport,52806,82.0,Scott,-90.61,41.56
267,2593,Hy-vee Food Store,Carroll,51401,14.0,Carroll,-94.85,42.06
280,2678,Hy-vee Fast & Fresh,Davenport,52807,82.0,Scott,-90.53,41.55
325,2562,Hy-vee Food Store,Fort Dodge,50501,94.0,Webster,-94.16,42.50
373,2572,Hy-vee Food Store,Cedar Falls,50613,7.0,Black Hawk,-92.44,42.51
431,2673,Hy-vee 6,Des Moines,50309,77.0,Polk,-93.62,41.58
436,2552,Hy-vee Food Store 3,Cedar Rapids,52404,57.0,Linn,-91.66,41.96
441,2509,Hy-vee,Cedar Rapids,52404,57.0,Linn,-91.68,41.96
450,2648,Hy-vee 4,West Des Moines,50265,77.0,Polk,-93.77,41.56
453,2720,Hy-vee Gas 3,West Des Moines,50266,25.0,Dallas,-93.81,41.60
467,2629,Hy-vee Food Store 2,Council Bluffs,51503,78.0,Pottawatta,-95.83,41.24
486,2543,Hy-vee Food Store 1,Ottumwa,52501,90.0,Wapello,-92.44,41.02
544,2665,Hy-vee,Waukee,50263,25.0,Dallas,-93.85,41.62
554,2588,Hy-vee Food & Drug 6,Cedar Rapids,52403,57.0,Linn,-91.61,41.98
665,2505,Hy-vee Wine & Spirits,Boone,50036,8.0,Boone,-93.88,42.06
716,2605,Hy-vee Drugstore 5,Cedar Rapids,52402,57.0,Linn,-91.67,42.03
760,2670,Hy-vee Food Store,Coralville,52241,52.0,Johnson,-91.59,41.68
853,2651,Hy-vee,Waverly,50677,9.0,Bremer,-92.48,42.71
861,2594,Hy-vee Food Store,Sioux City,51106,97.0,Woodbury,-96.35,42.45
905,2621,Hy-vee Food Store 3,Sioux City,51105,97.0,Woodbury,-96.36,42.49
925,2561,Hy-vee Food Store,Des Moines,50321,77.0,Polk,-93.64,41.54
984,2612,Hy-vee Store,Perry,50220,25.0,Dallas,-94.10,41.83
1002,2652,Hy-vee Drugstore,Mason City,50401,17.0,Cerro Gord,-93.21,43.15
1003,2637,Hy-vee 5,Davenport,52804,82.0,Scott,-90.61,41.54
1052,2672,Hy-vee,Winterset,50273,61.0,Madison,-94.01,41.34
1086,2657,Hy-vee Food Store,Bedford,50833,87.0,Taylor,-94.73,40.68
1101,2624,Hy-vee 2,Dubuque,52002,31.0,Dubuque,-90.74,42.52
1134,2521,Hy-vee Food & Drug,West Des Moines,50265,77.0,Polk,-93.73,41.57
1186,2611,Hy-vee Drugstore,Ottumwa,52501,90.0,Wapello,-92.40,41.03
1190,2597,Hy-vee Food Store,Cherokee,51012,18.0,Cherokee,-95.55,42.77
1275,2553,Hy-vee Food Store,Creston,50801,88.0,Union,-94.37,41.05
1345,2602,Hy-vee Food Store,Webster City,50595,40.0,Hamilton,-93.83,42.47
1362,2508,Hy-vee Food Store 1,Cedar Rapids,52405,57.0,Linn,-91.70,41.97
1366,2600,Hy-vee Food Store,Oskaloosa,52577,62.0,Mahaska,-92.65,41.30
1416,2576,Hy-vee Wine & Spirits,Storm Lake,50588,11.0,Buena Vist,-95.20,42.65
1430,2582,Hy-vee 2 Food Store,Mason City,50401,17.0,Cerro Gord,-93.17,43.15
1436,2603,Hy-vee Wine & Spirits,Bettendorf,52722,82.0,Scott,-90.48,41.55
1504,2527,Hy-vee Food Store 5,Des Moines,50315,77.0,Polk,-93.60,41.53
1514,2614,Hy-vee 3 Food & Drugstore,Davenport,52807,82.0,Scott,-90.55,41.56
1539,2661,Hy-vee Food Store,Sheldon,51201,71.0,Obrien,-95.83,43.19
1555,2623,Hy-vee Food Store 4,Sioux City,51104,97.0,Woodbury,-96.42,42.52
1558,2573,Hy-vee Food Store,Muscatine,52761,70.0,Muscatine,-91.04,41.45
1568,2517,Hy-vee Food Store 1,Newton,50208,50.0,Jasper,-93.03,41.70
1619,2595,Hy-vee Wine & Spirits,Denison,51442,24.0,Crawford,-95.35,42.01
1638,2616,Hy-vee Food & Drug,Clinton,52732,23.0,Clinton,-90.19,41.84
1642,2641,Hy-vee Drugstore,Council Bluffs,51501,78.0,Pottawatta,-95.86,41.26
1699,2512,Hy-vee Wine & Spirits,Iowa City,52240,52.0,Johnson,-91.53,41.64
1700,2568,Hy-vee Food Store 4,Cedar Rapids,52402,57.0,Linn,-91.65,41.99
1727,2649,Hy-vee 3,Dubuque,52001,31.0,Dubuque,-90.67,42.50
1756,2633,Hy-vee 3,Des Moines,50320,77.0,Polk,-93.60,41.55
1777,2636,Hy-vee Wine & Spirits,Des Moines,50317,77.0,Polk,-93.57,41.60
1816,2697,Hy-vee Dollar Fresh - Toledo,Toledo,52342,86.0,Tama,-92.58,41.99
1896,2538,Hy-vee Food Store 3,Waterloo,50702,7.0,Black Hawk,-92.33,42.46
1980,2671,Hy-vee,Jefferson,50129,37.0,Greene,-94.38,42.02
1988,2667,Hy-vee Mainstreet,Sioux City,51104,97.0,Woodbury,-96.41,42.52
2020,2554,Hy-vee Food Store,Davenport,52802,82.0,Scott,-90.62,41.51
2027,2579,Hy-vee Food Store,Grinnell,50112,79.0,Poweshiek,-92.73,41.73
2171,2628,Hy-vee Food Store,Eldora,50627,42.0,Hardin,-93.10,42.36
2254,2650,Hy-vee Wine & Spirits,Harlan,51537,83.0,Shelby,-95.34,41.65
2277,2544,Hy-vee Food Store,Marshalltown,50158,64.0,Marshall,-92.91,42.04
2289,2630,Hy-vee Drugstore 2,West Des Moines,50266,77.0,Polk,-93.79,41.58
2676,2575,Hy-vee Food Store 1,Waterloo,50702,7.0,Black Hawk,-92.38,42.47
4991,2702,Hy-vee Gas 1,Ankeny,50023,77.0,Polk,-93.60,41.74
19755,2691,Hy-vee Fast & Fresh - Des Moines,Urbandale,50322,77.0,Polk,-93.70,41.61
20523,2627,Hy-vee Wine & Spirits 1,Des Moines,50310,77.0,Polk,-93.65,41.63
20528,2548,Hy-vee Food Store,Altoona,50009,77.0,Polk,-93.47,41.64
20545,2506,Hy-vee 1044,Burlington,52601,29.0,Des Moines,-91.14,40.81
20561,2642,Hy-vee Wine & Spirits,Pella,50219,63.0,Marion,-92.90,41.40
20565,2545,Hy-vee Drugstore,Iowa City,52245,52.0,Johnson,-91.53,42.21
20570,2515,Hy-vee Food Store 1,Mason City,50401,17.0,Cerro Gord,-93.24,43.15
20593,2507,Hy-vee Food Store 1,Burlington,52601,29.0,Des Moines,-91.11,40.80
20595,2558,Hy-vee Food Store,Mount Pleasant,52641,44.0,Henry,-91.53,40.96
20604,2626,Hy-vee Drugstore,Des Moines,50311,77.0,Polk,-93.67,41.60
20613,2590,Hy-vee Food Store 5,Cedar Rapids,52402,57.0,Linn,-91.66,42.01
20632,2655,Hy-vee Food Store,Clarinda,51632,73.0,Page,-95.04,40.73
20695,2684,Hy-vee - Forest City,Forest City,50436,95.0,Winnebago,-93.63,43.27
20697,2532,Hy-vee Food Store 2,Des Moines,50317,77.0,Polk,-93.57,41.63
20711,2622,Hy-vee Food Store,Iowa City,52240,52.0,Johnson,-91.52,41.68
20736,2601,Hy-vee Food Store,Fairfield,52556,51.0,Jefferson,-91.98,41.01
20783,2585,Hy-vee Wine & Spirits,Algona,50511,55.0,Kossuth,-94.24,43.08
20822,2607,Hy-vee Wine & Spirits,Shenandoah,51601,73.0,Page,-95.39,40.76
20843,2609,Hy-vee Drugstore 2,Ames,50010,85.0,Story,-93.62,42.03
20858,2658,Hy-vee Food Store,Mount Ayr,50854,80.0,Ringgold,-94.23,40.71
20885,2518,Hy-vee Wine & Spirits,Red Oak,51566,69.0,Montgomery,-95.84,41.28
20897,2700,Hy-vee Dollar Fresh - Emmetsburg,Emmetsburg,50536,74.0,Palo Alto,-94.69,43.11
20923,2584,Hy-vee Food Store,Fort Madison,52627,56.0,Lee,-91.34,40.63
20928,2529,Hy-vee Drugstore 4,Cedar Rapids,52405,57.0,Linn,-91.73,41.97
20962,2696,Hy-vee C-store,Des Moines,50315,77.0,Polk,-93.60,41.53
21055,2674,Hy-vee Food Store,Lamoni,50140,27.0,Decatur,-93.92,40.62
21296,2587,Hy-vee Food Store,Johnston,50131,77.0,Polk,-93.70,41.67
21331,2685,Hy-vee -garner,Garner,50438,41.0,Hancock,-93.60,43.11
22010,2698,Hy-vee Gas 4 - Wdm,West Des Moines,50265,77.0,Polk,-93.77,41.56
22563,2688,Hy-vee C-store - East Hickman,Waukee,50263,25.0,Dallas,-93.85,41.62
23956,2689,Hy-vee C-strore - Douglas,Urbandale,50322,77.0,Polk,-93.74,41.63
39133,2592,Hy-vee Drugstore,Marshalltown,50158,64.0,Marshall,-92.91,42.03
39234,2618,Hy-vee Drugstore 6,Cedar Rapids,52402,57.0,Linn,-91.64,42.05
39345,2591,Hy-vee Wine & Spirits,Atlantic,50022,15.0,Cass,-94.99,41.40
39459,2569,Hy-vee Food Store 2,Cedar Rapids,52402,57.0,Linn,-91.63,42.03
39495,2644,Hy-vee Fort Dodge Wine & Spirits,Fort Dodge,50501,94.0,Webster,-94.18,42.51
39586,2606,Hy-vee Wine & Spirits,Humboldt,50548,46.0,Humboldt,-94.23,42.73
39668,2687,Hy-vee Fast & Fresh Express- Bettendorf,Bettendorf,57222,82.0,Scott,-90.48,41.55
39850,2559,Hy-vee Food Store,Albia,52531,68.0,Monroe,-92.81,41.02
39870,2669,Hy-vee,Corydon,50060,93.0,Wayne,-93.32,40.76
39993,2523,Hy-vee Food Store,Centerville,52544,4.0,Appanoose,-92.87,40.74
40008,2550,Hy-vee Food Store,Osceola,50213,20.0,Clarke,-93.77,41.03
41351,2677,Hy-vee Fast & Fresh Express,Centerville,52544,4.0,Appanoose,-92.87,40.74
41934,2514,Hy-vee Drugstore,Marion,52302,57.0,Linn,-91.58,42.03
44331,2690,Hy-vee Fast & Fresh - Knoxville,Knoxville,50138,63.0,Marion,-93.11,41.33
46856,2680,Hy-vee Fulfillment Center,Urbandale,50322,77.0,Polk,-93.74,41.62
272948,2699,Hy-vee C-store 2 - Ankeny,Ankeny,50023,77.0,Polk,-93.62,41.70
289141,2668,Hy-vee Food Store,Leon,50144,27.0,Decatur,-93.76,40.74
327202,2695,Hy-vee Gas 4,Des Moines,50321,77.0,Polk,-93.64,41.54
327428,2676,Hy-vee Gas,Indianola,50125,91.0,Warren,-93.56,41.37
385501,2716,Hy-vee Hampton Dollar Fresh,Hampton,50441,35.0,Franklin,-93.20,42.73
385937,2704,Hy-vee Oelwein Dollar Fresh,Oelwein,50662,33.0,Fayette,-91.91,42.66
386944,2713,Hy-vee Dyersville Dollar Fresh,Dyersville,52040,31.0,Dubuque,-91.11,42.48
387794,2714,Hy-vee,Vinton,52349,6.0,Benton,-92.04,42.16
387863,2705,Hy-vee Cresco Dollar Fresh,Cresco,52349,45.0,Howard,-92.13,43.37
397855,2711,Hy-vee Gas 2,Ottumwa,52501,90.0,Wapello,-92.41,41.05
398128,2708,Hy-vee Fast & Fresh - Windsor Heights,Windsor Heights,50324,77.0,Polk,-93.72,41.61
437985,2703,Hy-vee Fast & Fresh,Clive,50325,77.0,Polk,-93.78,41.60
474539,2707,Hy-vee Fast & Fresh - Urbandale,Urbandale,50322,77.0,Polk,-93.76,41.63
530562,2715,Hy-vee Food Store,Denison,51442,24.0,Crawford,-95.35,42.02
589796,2692,Hy-vee Fast & Fresh Express -osceloa,Osceola,50213,20.0,Clarke,-93.77,41.03
782263,2709,Hy-vee Fast & Fresh - Dubuque,Dubuque,52002,31.0,Dubuque,-90.74,42.52
844151,2710,Hy-vee Gas 1,Ottumwa,52501,90.0,Wapello,-92.44,41.02
845165,2719,Hy-vee Fast & Fresh,Waukee,50263,25.0,Dallas,-93.85,41.58
863376,2712,Hy-vee,Decorah,52101,96.0,Winneshiek,-91.80,43.29
882119,2683,Hy-vee Fast & Fresh,West Des Moines,50266,77.0,Polk,-93.81,41.56
919224,2701,Hy-vee Fast & Fresh,Storm Lake,50588,11.0,Buena Vist,-95.20,42.65
959303,2693,Hy-vee Fast & Fresh Express,Creston,50801,88.0,Union,-94.37,41.05
1195392,2721,Hy-vee C-store 3,Dubuque,52003,31.0,Dubuque,-90.66,42.49
1723642,2717,Hy-vee Gase 5018,Ames,50010,85.0,Story,-93.62,42.02
2414806,2564,Hy-vee Food Store 4,Waterloo,50701,7.0,Black Hawk,-92.40,42.51
9192606,2510,Hy-vee Drugstore 3,Cedar Rapids,52403,57.0,Linn,-91.63,41.98
9192761,2583,Hy-vee Food Store,Washington,52353,92.0,Washington,-91.44,41.90
9193018,2599,Hy-vee Wine & Spirits,Coralville,52241,52.0,Johnson,-91.59,41.68
9193086,2638,Hy-vee Wine & Spirits,Cedar Falls,50613,7.0,Black Hawk,-92.43,42.51
9193330,2634,Hy-vee Wine & Spirits,Ames,50014,85.0,Story,-93.67,42.02
9193453,2534,Hy-vee Drugtown,Urbandale,50322,77.0,Polk,-93.74,41.63
9196292,2645,Hy-vee Drugstore,Muscatine,52761,70.0,Muscatine,-91.04,41.43
9196632,2537,Hy-vee Drugstore,Fort Dodge,50501,94.0,Webster,-94.16,42.50
9200569,2659,Hy-vee Food Store,Corydon,50060,93.0,Wayne,-93.32,40.76
9203881,2511,Hy-vee,Cedar Rapids,52402,57.0,Linn,-91.66,42.01
9221175,2664,Hy-vee C-store,Charles City,50616,34.0,Floyd,-92.67,43.07
20678085,2682,Hy-vee Wdm Health Market,West Des Moines,50266,25.0,Dallas,-93.81,41.56
21948184,6191,Hy-vee Fast & Fresh 2,Waukee,50263,25.0,Dallas,-93.88,41.62
21966965,6189,Hy-vee Dollar Fresh,Manchester,52057,28.0,Delaware,-91.47,42.48
21967112,6181,Hy-vee Gas 2,Coralville,52241,52.0,Johnson,-91.61,41.72
22004319,6209,Hy-vee,Grimes,50111,77.0,Polk,-93.78,41.69

In [39]:
# Clean up names for consistency across tables
store.rename(columns = {'StoreNumber':'StoreID', 'long':'Long', 'lat':'Lat'}, inplace = True)

In [40]:
store.shape

(163, 8)

In [41]:
store.head(1)

,StoreID,StoreName,City,ZipCode,CountyNumber,County,Long,Lat
9,2663,Hy-vee Food Store,Urbandale,50322,77.0,Polk,-93.74,41.63

### Price

In [42]:
# Columns to be included in the Price table
cols = ['ItemNumber',
        'Date',
        'StateBottleRetail',
        'StateBottleCost']

price = lqsales[cols].copy()
price['Date'] = pd.to_datetime(price['Date'])

In [43]:
# Consider the mean value for StateBottleRetail and StateBottleCost to handle the price variation across a day
price = price.groupby(['ItemNumber', 'Date']).agg({'StateBottleRetail':'mean', 'StateBottleCost':'mean'}).reset_index()

In [44]:
# Clean up names so that it's consistent between tables.
price.rename(columns = {'ItemNumber': 'ProductID'}, inplace = True)

In [45]:
# Check for nulls
price.isnull().sum(axis = 0)

ProductID            0
Date                 0
StateBottleRetail    3
StateBottleCost      3
dtype: int64

In [46]:
# Drop null values
price.dropna(inplace = True)

In [47]:
price.head(1)

  ProductID       Date  StateBottleRetail  StateBottleCost
0       101 2016-10-31              29.97            19.98

### Transactions

In [48]:
# Columns to be included in Transactions table
cols = ['Invoice/ItemNumber',
        'StoreNumber',
        'VendorNumber',
        'ItemNumber',
        'Category',
        'Date',
        'BottlesSold',
        'VolumeSold(Gallons)',
        'Sale(Dollars)']

transaction = lqsales[cols].copy()
transaction['Date'] = pd.to_datetime(transaction['Date'])

In [49]:
# Clean up names for consistency between tables
transaction.rename(columns = {'Invoice/ItemNumber':'TransactionID',
                              'StoreNumber':'StoreID',
                              'VendorNumber':'VendorID',
                              'ItemNumber':'ProductID',
                              'Category':'CategoryID',
                              'VolumeSold(Gallons)':'Volume',
                              'Sale(Dollars)':'Sale'}, inplace = True)

In [50]:
# Checking for null values
# Null values will remain since mapping between CategoryID and ProductID exists in Products table 
# and the Products table itself contains null values for CategoryID
transaction.isnull().sum(axis = 0)

TransactionID       0
StoreID             0
VendorID            1
ProductID           0
CategoryID       5889
Date                0
BottlesSold         0
Volume              0
Sale                7
dtype: int64

In [51]:
transaction.shape

(7235676, 9)

In [52]:
transaction.head(1)

,TransactionID,StoreID,VendorID,ProductID,CategoryID,Date,BottlesSold,Volume,Sale
2,INV-28403900139,2643,370.0,15628,1012400.0,2020-07-01,2,0.92,97.44

In [53]:
transaction.groupby('StoreID').sum('Sale')

           VendorID    CategoryID  BottlesSold        Volume          Sale
StoreID
2500     27201273.0  1.076985e+11       881163  2.139135e+05  1.230089e+07
2501     13601253.0  5.323522e+10       587954  1.398733e+05  8.860021e+06
2502     22013001.0  8.718939e+10      1033505  2.647732e+05  1.564264e+07
2503       741058.0  2.985857e+09        21888  5.805100e+03  2.635170e+05
2505     14177283.0  5.690133e+10       490748  1.317897e+05  6.729096e+06
2506     25486261.0  9.992813e+10       916990  2.406103e+05  1.366444e+07
2507      8087379.0  3.184335e+10       266394  5.996225e+04  2.728390e+06
2508     17306112.0  6.880599e+10       673161  1.695607e+05  8.967571e+06
2509     12205262.0  4.799495e+10       560677  1.290344e+05  5.795250e+06
2510      2012464.0  8.149993e+09        60087  1.601049e+04  6.879372e+05
2511       192142.0  7.717503e+08         5946  1.595040e+03  5.883122e+04
2512     33664550.0  1.347416e+11      2815360  7.007673e+05  4.097806e+07
2513     18298727.0  7.214284e+10       482908  1.179624e+05  6.623694e+06
2514      3916274.0  1.582039e+10       182550  5.355429e+04  2.153438e+06
2515     29984534.0  1.190698e+11       939206  2.738870e+05  1.463586e+07
2517     17451211.0  6.982245e+10       598837  1.545341e+05  8.155924e+06
2518      8238461.0  3.289271e+10       298709  7.334951e+04  3.889517e+06
2521     20587515.0  8.084952e+10       884822  1.979401e+05  1.150329e+07
2522     16309832.0  6.436504e+10       650156  1.740702e+05  9.612075e+06
2523      9028174.0  3.607768e+10       271325  6.590035e+04  3.694944e+06
2524     19415313.0  7.770035e+10       858030  2.107845e+05  1.246756e+07
2527     15608496.0  5.952698e+10       708622  1.528585e+05  7.973248e+06
2528     17737866.0  7.030954e+10       923978  1.865540e+05  1.075487e+07
2529      8769496.0  3.528460e+10       307584  8.855993e+04  3.586670e+06
2532     12368108.0  4.687641e+10       483528  1.184571e+05  5.815913e+06
2534       933003.0  3.820768e+09        30633  7.548910e+03  3.936866e+05
2535     15019312.0  6.035572e+10       474978  1.182252e+05  6.552019e+06
2537       963483.0  3.718884e+09        32229  8.972100e+03  4.319790e+05
2538     21304427.0  8.437990e+10       606673  1.497812e+05  8.843010e+06
2539     11533956.0  4.568757e+10       428428  1.201076e+05  6.442307e+06
2543     18973040.0  7.551486e+10       495008  1.173234e+05  6.733867e+06
2544     20710843.0  8.205619e+10       830811  2.265652e+05  1.284008e+07
2545     15369072.0  6.002888e+10       356821  8.650821e+04  5.303924e+06
2548     19172722.0  7.607746e+10       830661  2.045487e+05  1.124339e+07
2549     13467315.0  5.202292e+10       600394  1.568040e+05  8.929631e+06
2550      7178420.0  2.811832e+10       144383  3.877899e+04  2.016756e+06
2551     11047267.0  4.378664e+10       291366  7.207395e+04  3.853158e+06
2552     23887204.0  9.488981e+10       868474  2.036282e+05  1.064692e+07
2553      7669546.0  3.009210e+10       233435  6.325203e+04  3.387097e+06
2554      5426433.0  2.251151e+10       214653  5.522174e+04  2.306682e+06
2555     14086012.0  5.575281e+10       478209  1.206320e+05  6.643155e+06
2556     11469319.0  4.502539e+10       309939  8.792244e+04  4.517916e+06
2558     12286372.0  4.835570e+10       522104  1.314204e+05  7.429718e+06
2559      2991052.0  1.185201e+10        85331  2.312703e+04  1.177629e+06
2560     22546859.0  8.841683e+10       728363  1.888276e+05  1.081943e+07
2561     23208750.0  9.221724e+10       993576  2.352244e+05  1.418649e+07
2562      6809741.0  2.651988e+10       300367  8.986476e+04  4.229207e+06
2564      6227652.0  2.540112e+10       265484  7.335062e+04  3.550264e+06
2565     25946573.0  1.023139e+11       571913  1.513538e+05  7.887360e+06
2566      7967535.0  3.121491e+10       290544  7.022335e+04  3.869472e+06
2567     15365515.0  6.297981e+10       369643  9.443778e+04  4.611458e+06
2568      7535441.0  2.896930e+10       289235  5.974658e+04  2.607947e+06
2569     15451099.0  6.245544e+10       312715  8.287937e+04  4.404064e+06
2571     14048512.0  5.635012e+10       685362  1.483028e+05  8.833566e+06
2572     30488850.0  1.212943e+11       698035  1.814778e+05  1.069372e+07
2573     23655686.0  9.472940e+10       826892  2.278221e+05  1.291334e+07
2575      5363473.0  2.216694e+10       188234  5.142661e+04  2.477089e+06
2576     18289616.0  7.160499e+10       380311  1.103207e+05  5.957634e+06
2578     11430592.0  4.478917e+10       466628  1.244018e+05  6.233606e+06
2579      6326024.0  2.555924e+10       195818  5.334126e+04  2.962141e+06
2582     14277767.0  5.543513e+10       527457  1.313900e+05  6.569462e+06
2583       665965.0  2.686197e+09        20116  6.022600e+03  2.619146e+05
2584      9135645.0  3.647375e+10       235371  6.500805e+04  3.574027e+06
2585     12027127.0  4.732243e+10       465844  1.255858e+05  6.267398e+06
2587     21514141.0  8.573531e+10       546174  1.340801e+05  8.096954e+06
2588     20188589.0  8.065453e+10       531526  1.363671e+05  8.062665e+06
2590     25698898.0  1.019384e+11       830198  1.998142e+05  1.162162e+07
2591     13188551.0  5.324873e+10       436153  1.214477e+05  6.541860e+06
2592      4251483.0  1.703980e+10       108368  3.453926e+04  1.355359e+06
2593     19337621.0  7.810514e+10      1014855  2.903109e+05  1.571114e+07
2594     16698134.0  6.727772e+10       516540  1.326524e+05  7.850415e+06
2595     11228244.0  4.640380e+10       527365  1.413366e+05  7.615514e+06
2596      7832801.0  3.174791e+10       176581  4.382659e+04  2.208472e+06
2597      4520968.0  1.734507e+10       157874  4.601356e+04  2.177780e+06
2599      8551030.0  3.434732e+10       426989  1.081278e+05  6.476042e+06
2600      4683267.0  1.887887e+10       143004  3.707394e+04  1.815744e+06
2601     11444234.0  4.464284e+10       396975  9.771621e+04  5.711360e+06
2602     13931532.0  5.481712e+10       324124  8.516901e+04  4.488494e+06
2603     30592244.0  1.202810e+11       980292  2.384815e+05  1.484906e+07
2604     12552724.0  4.899325e+10       479727  1.248944e+05  6.632137e+06
2605     17116783.0  6.690444e+10       700147  1.707150e+05  8.411604e+06
2606      9960621.0  3.878416e+10       381799  1.075967e+05  5.492286e+06
2607      9253831.0  3.785833e+10       354307  8.935297e+04  4.867641e+06
2609      2315361.0  9.702603e+09        52914  1.163277e+04  5.474747e+05
2611      8983098.0  3.548643e+10       363445  7.213678e+04  3.869195e+06
2612      8293622.0  3.268973e+10       187485  5.089840e+04  2.545176e+06
2613     20502764.0  8.236551e+10       742260  1.755814e+05  1.026249e+07
2614     29567375.0  1.189561e+11      1147062  2.918004e+05  1.684220e+07
2616     26614436.0  1.045187e+11      1120859  2.845300e+05  1.531493e+07
2618      8715982.0  3.463038e+10       266015  7.161777e+04  3.424206e+06
2619     25617606.0  1.016217e+11      1122936  2.822164e+05  1.879646e+07
2620     20737205.0  8.261822e+10       613793  1.531390e+05  9.170179e+06
2621     22112022.0  8.705120e+10       707376  1.707538e+05  9.582750e+06
2622     14574080.0  5.804971e+10       479378  1.201092e+05  7.383027e+06
2623     22111103.0  8.853063e+10       758748  1.848570e+05  1.096459e+07
2624     17361418.0  6.937130e+10       707391  1.817014e+05  9.719317e+06
2625     24818923.0  1.017219e+11      1370857  3.460475e+05  2.129486e+07
2626     16903579.0  6.607767e+10       858284  1.629634e+05  9.336307e+06
2627     14692299.0  5.868879e+10       950968  1.258870e+05  7.272679e+06
2628      4360103.0  1.771936e+10       133862  3.697908e+04  1.671250e+06
2629     25655763.0  1.030153e+11      1017539  2.512151e+05  1.566599e+07
2630      4279571.0  1.686389e+10       185902  4.451974e+04  2.435982e+06
2633     48377659.0  1.940131e+11      5758793  1.470940e+06  9.583955e+07
2634       897875.0  3.636718e+09        20782  4.967210e+03  2.613565e+05
2635     17708360.0  7.053748e+10       785903  1.829745e+05  1.204535e+07
2636     10873920.0  4.241380e+10       552552  1.144793e+05  6.581129e+06
2637     16843873.0  6.636343e+10       721900  1.811393e+05  9.125136e+06
2638      5228651.0  2.154327e+10       138875  3.547532e+04  2.069365e+06
2641      6904844.0  2.783529e+10       333342  6.068171e+04  2.830432e+06
2642     13856883.0  5.576583e+10       444748  1.134330e+05  6.676773e+06
2643     19925663.0  7.798513e+10       457037  1.156546e+05  7.268019e+06
2644     15599758.0  6.073769e+10       825335  2.153693e+05  1.231441e+07
2645       319095.0  1.339377e+09        11560  2.850200e+03  1.113102e+05
2647     27803898.0  1.107256e+11       853670  2.143092e+05  1.342957e+07
2648     28880017.0  1.137622e+11      1005687  2.514612e+05  1.696194e+07
2649     19062840.0  7.776716e+10       460387  1.292407e+05  6.411003e+06
2650     10557511.0  4.215107e+10       387386  1.036135e+05  5.810269e+06
2651     20352232.0  8.059859e+10       634062  1.749424e+05  9.343828e+06
2652     10800925.0  4.223787e+10       405894  9.873041e+04  4.918460e+06
2653     10426503.0  4.079253e+10       277307  7.062099e+04  4.121962e+06
2655      4355005.0  1.796022e+10       114683  3.156755e+04  1.555308e+06
2656      4606843.0  1.893681e+10        82971  2.209026e+04  1.164692e+06
2657      2951012.0  1.241750e+10        51941  1.278904e+04  6.507236e+05
2658      1745439.0  6.679164e+09        51929  1.492692e+04  7.655767e+05
2659       397573.0  1.689885e+09        11143  3.128330e+03  1.311084e+05
2661     11339459.0  4.351002e+10       308683  8.464461e+04  4.367016e+06
2662     10378348.0  4.284133e+10       403824  9.698777e+04  5.392396e+06
2663     18442994.0  7.262842e+10      1151417  2.744544e+05  1.979772e+07
2664       214607.0  8.494376e+08         7348  2.008680e+03  9.763899e+04
2665     20152032.0  7.870734e+10      1007481  2.313086e+05  1.595726e+07
2666     23145897.0  8.989446e+10       822796  1.934522e+05  1.321516e+07
2667      3216369.0  1.235500e+10        77191  1.694743e+04  8.053573e+05
2668      1253235.0  4.823581e+09        24391  6.716050e+03  3.693546e+05
2669      1650969.0  6.709815e+09        45354  1.245134e+04  6.686848e+05
2670     22411398.0  8.759481e+10      1075061  2.694217e+05  1.753222e+07
2671      4284723.0  1.636048e+10       150396  4.203696e+04  2.315252e+06
2672      3783507.0  1.466817e+10       140022  3.836302e+04  2.070788e+06
2673      4768002.0  1.862090e+10       227351  4.445754e+04  3.363587e+06
2674       568173.0  2.129991e+09        13144  2.760770e+03  1.675548e+05
2675      5806038.0  2.165752e+10       228958  5.356155e+04  4.162556e+06
2676        71727.0  3.056566e+08         3818  4.229000e+02  3.661241e+04
2677       358013.0  1.266222e+09        23417  1.605080e+03  8.163968e+04
2678      1589560.0  6.337937e+09        30055  5.867030e+03  3.855903e+05
2679      1262889.0  4.883164e+09        32496  5.887790e+03  3.844596e+05
2680       204524.0  8.012825e+08         6353  1.672640e+03  1.195679e+05
2681       191585.0  7.671125e+08        12265  8.336200e+02  7.050401e+04
2682        37778.0  1.229730e+08         1379  3.115600e+02  2.555588e+04
2683       158938.0  6.236932e+08         5590  7.696000e+02  6.266234e+04
2684      1890867.0  7.628917e+09        36676  1.009268e+04  5.428921e+05
2685       548909.0  2.180045e+09        24812  7.518470e+03  3.816629e+05
2686        43141.0  1.489052e+08         4274  1.992600e+02  3.114064e+04
2687       210517.0  8.244063e+08        10986  1.196060e+03  8.525518e+04
2688       133489.0  5.171194e+08        14954  6.305400e+02  5.280814e+04
2689       182286.0  7.512544e+08         7804  4.146500e+02  5.507686e+04
2690        42953.0  1.557544e+08         2480  1.759100e+02  1.019769e+04
2691       835247.0  3.203172e+09        39801  2.278770e+03  2.242974e+05
2692        37954.0  1.410399e+08         1434  1.369800e+02  1.873911e+04
2693        72545.0  2.551851e+08         1950  1.602100e+02  1.878016e+04
2695        85475.0  3.256693e+08         7230  3.409500e+02  3.184706e+04
2696       218161.0  6.586451e+08        18991  1.213490e+03  8.655952e+04
2697       818045.0  2.973742e+09        22432  6.077420e+03  3.599101e+05
2698       101874.0  4.191757e+08         3554  1.955600e+02  2.577936e+04
2699        45397.0  1.615108e+08         3184  1.883900e+02  1.809500e+04
2700       643974.0  2.323493e+09        29197  8.623920e+03  4.604218e+05
2701        35606.0  1.247819e+08          751  6.362000e+01  5.177620e+03
2702       167582.0  5.901857e+08         5821  5.892600e+02  4.986565e+04
2703       107985.0  4.544142e+08         5413  3.142700e+02  3.401502e+04
2704       319918.0  1.257824e+09        16399  4.719850e+03  2.350873e+05
2705       298013.0  1.164855e+09        16807  5.012610e+03  2.158934e+05
2707       179409.0  7.082205e+08         8509  4.550600e+02  4.785643e+04
2708       217511.0  8.554867e+08        10271  6.222900e+02  5.721001e+04
2709       282715.0  1.001460e+09         8278  6.602600e+02  5.842673e+04
2710       111342.0  4.092577e+08         2040  1.422100e+02  1.490714e+04
2711       189681.0  6.927040e+08         4501  3.737700e+02  3.567242e+04
2712      1049746.0  4.022523e+09        37239  9.266960e+03  6.083900e+05
2713       242241.0  9.787049e+08        15551  4.783620e+03  2.331160e+05
2714       523615.0  1.986794e+09        20008  5.123520e+03  3.098225e+05
2715       195207.0  7.864901e+08        13656  3.653760e+03  1.835442e+05
2716       196577.0  7.909473e+08        12136  2.858910e+03  1.472190e+05
2717         9622.0  4.176080e+07          331  4.090000e+00  3.482050e+03
2718       226165.0  9.211914e+08        10663  3.159980e+03  1.603671e+05
2719        90111.0  3.601610e+08         4453  6.325400e+02  4.948185e+04
2720        65841.0  2.649542e+08         2903  2.249300e+02  2.660212e+04
2721       130994.0  5.273797e+08         2491  2.631500e+02  1.860784e+04
2723        21105.0  8.372080e+07         1149  1.304700e+02  1.329942e+04
6178       115798.0  4.120632e+08         4604  1.206370e+03  7.459722e+04
6181        18140.0  7.504090e+07          433  4.351000e+01  4.588310e+03
6189        99551.0  3.615281e+08         4043  1.149930e+03  6.534455e+04
6191        21631.0  9.011080e+07          910  1.498400e+02  1.182916e+04
6209       312775.0  1.103388e+09        12551  3.078400e+03  2.405950e+05

### Sales

In [54]:
# Creating a sales table for analyzing store sales later
cols = ['ItemNumber',
        'ItemDescription',
        'Date',
        'Sale(Dollars)',
        'BottlesSold',
        'StoreNumber', 
        'StoreName',
        'CategoryName',
        'BottleVolume(ml)',
        'VendorNumber', 
        'VendorName',
        'County']

dfsales = lqsales[cols].copy()
dfsales['Date'] = pd.to_datetime(dfsales['Date'])

cols = ['ItemNumber',
        'Age', 
        'Proof']
dfitem = lqdetails[cols].copy()

cols = ['StoreID',
        'Long', 
        'Lat']
dfstore = store[cols].copy().rename(columns = {'StoreID':'StoreNumber'})

In [55]:
dfsales['ItemNumber'] = dfsales['ItemNumber'].apply(str)
dfitem['ItemNumber'] = dfitem['ItemNumber'].apply(str)
temp = dfsales.merge(dfitem[['ItemNumber', 'Age', 'Proof']], on = 'ItemNumber', how = 'left')

In [56]:
temp.head(1)

,ItemNumber,ItemDescription,Date,Sale(Dollars),BottlesSold,StoreNumber,StoreName,CategoryName,BottleVolume(ml),VendorNumber,VendorName,County,Age,Proof
0,15628,Jameson,2020-07-01,97.44,2,2643,Hy-Vee Wine and Spirits / Waterloo,Irish Whiskies,1750,370.0,PERNOD RICARD USA,BLACK HAWK,0.0,80.0

In [57]:
dfstore['StoreNumber'] = dfstore['StoreNumber'].apply(str)
temp['StoreNumber'] = temp['StoreNumber'].apply(str)
df = temp.merge(dfstore[['StoreNumber', 'Long', 'Lat']], on = 'StoreNumber', how = 'left')

In [58]:
df.head(1)

,ItemNumber,ItemDescription,Date,Sale(Dollars),BottlesSold,StoreNumber,StoreName,CategoryName,BottleVolume(ml),VendorNumber,VendorName,County,Age,Proof,Long,Lat
0,15628,Jameson,2020-07-01,97.44,2,2643,Hy-Vee Wine and Spirits / Waterloo,Irish Whiskies,1750,370.0,PERNOD RICARD USA,BLACK HAWK,0.0,80.0,NaN,NaN

In [59]:
sales = df.copy()
sales = sales.rename(columns = {'ItemNumber':'ProductID', 'ItemDescription':'ProductName', 'Sale(Dollars)':'Sale',  
                        'StoreNumber':'StoreID', 'BottleVolume(ml)':'BottleVolume', 'VendorNumber':'VendorID'})

### The SQLite Database

In [60]:
# Setting up the database connection
conn = sqlite3.connect('IowaLiquorSales.db')
cursor = conn.cursor()

In [61]:
# Create the tables
cursor.execute('''CREATE TABLE Product
                (ProductID, ProductName, CategoryID, CategoryName, Segment, BottleVolume, Pack, Proof)''')

cursor.execute('''CREATE TABLE Price
                (ProductID, Date, StateBottleRetail, StateBottleCost)''')

cursor.execute('''CREATE TABLE Vendor
                (VendorID, VendorName)''')

cursor.execute('''CREATE TABLE Store
                (StoreID, StoreName, City, ZipCode, CountyNumber, County, Long, Lat)''')

cursor.execute('''CREATE TABLE Transactions
                (TransactionID, StoreID, VendorID, ProductID, CategoryID, Date, BottlesSold, Volume, Sale)''')

cursor.execute('''CREATE TABLE Sales
                (ProductID, ProductName, Date, Sale, BottlesSold, StoreID, StoreName, CategoryName, BottleVolume,
                VendorID, VendorName, County, Age, Proof, Long, Lat)''')

In [62]:
product.to_sql('Product', conn, if_exists = 'append', index = False)
price.to_sql('Price', conn, if_exists = 'append', index = False)
vendor.to_sql('Vendor', conn, if_exists = 'append', index = False)
store.to_sql('Store', conn, if_exists = 'append', index = False)
transaction.to_sql('Transactions', conn, if_exists = 'append', index = False)
sales.to_sql('Sales', conn, if_exists = 'append', index = False)

In [63]:
conn.commit()
conn.close()